/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.footercolor {
    background-color: #212529;
}

.stylenavar {
    background-color: #212529;
    width: 100%;
}

.botoneshome {
    width: 55px;
    height: 30px;
    margin: 10px;
    padding: 0;
    background-color: #febd2f;
}

/* .fotocarrousel {
    width: 400px;
    height: 400px;
} */
h2 {
    color: black;
}